@font-face {
    font-family: minefont;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #EFEAE3;
}

/* PAGE - 1 */

.page-1 {
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2.5vw;
}


/* NAVBAR */

.nav {
    /* height: 100px; */
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part-2 {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 1vw;
}

.nav-part-2 h4 {
    padding: 0.7em 1.2em;
    border: 1px solid rgb(130, 108, 108);
    border-radius: 3.1em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1em;
    color: #000000c3;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-part-2 h4 a {
    text-decoration: none;
    color: #000;
    z-index: 9;
    position: relative;
}

.nav-part-2 h4:hover a {
    color: #fff;
}

.nav-part-2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.nav-part-2 h4:hover::after {
    background-color: black;
    color: #fff;
    bottom: 0;
    border-radius: 0;
}


/* PAGE - 1 CENTER */

.center {
    height: 79vh;
    width: 100%;
    /* background: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "minefont";
    border-bottom: 1px solid #00003c47;
    padding-bottom: 4vw;
}


/* PAGE - 1 LEFT */

.left h3 {
    width: 32vw;
    font-size: 2vw;
    line-height: 2.4vw;
}


/* PAGE - 1 RIGHT */

.right h1 {
    font-size: 10vw;
    white-space: none;
    text-align: end;
    line-height: 8.5vw;
}


/* ANIMATION */

.hero-shape {
    position: absolute;
    height: 36vw;
    width: 46vw;
    background-color: #FE320A;
    filter: blur(25px);
    right: 0;
    top: 79vh;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.hero-1{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
}

.hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation-1;
    animation-duration: 5s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero-3{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #fe330ad1);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation-1;
    animation-duration: 5s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animation-1{
    from{
        transform: translate(-30 , 60%)
    }
    to{
        transform: translate(40% , -30%)
    }
}    


/* PAGE -2 */

/* video */
.video{
    max-width: 100%;
    border: none;
    border-radius: 2.6em;
    margin-top: 3.5em;
    z-index: 99;
}



