@font-face {
    font-family: minefont;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: minefont;
    font-weight: 100;
    src: url(./fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: minefont;
    font-weight: 200;
    src: url(./fonts/NeueHaasDisplayRoman.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #EFEAE3;
}

/* PAGE - 1 */

.page-1 {
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2.5vw;
}


/* NAVBAR */

.nav {
    /* height: 100px; */
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part-2 {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 1vw;
}

.nav-part-2 h4 {
    padding: 0.7em 1.2em;
    border: 1px solid rgb(130, 108, 108);
    border-radius: 3.1em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1em;
    color: #000000c3;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-part-2 h4 a {
    text-decoration: none;
    color: #000;
    z-index: 9;
    position: relative;
}

.nav-part-2 h4:hover a {
    color: #fff;
}

.nav-part-2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.nav-part-2 h4:hover::after {
    background-color: black;
    color: #fff;
    bottom: 0;
    border-radius: 0;
}


/* PAGE - 1 CENTER */

.center {
    height: 79vh;
    width: 100%;
    /* background: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "minefont";
    border-bottom: 1px solid #00003c47;
    padding-bottom: 4vw;
}


/* PAGE - 1 LEFT */

.left h3 {
    width: 32vw;
    font-size: 2vw;
    line-height: 2.4vw;
}


/* PAGE - 1 RIGHT */

.right h1 {
    font-size: 10vw;
    white-space: none;
    text-align: end;
    line-height: 8.5vw;
}


/* ANIMATION */

.hero-shape {
    position: absolute;
    height: 33vw;
    width: 46vw;
    background-color: #FE320A;
    filter: blur(25px);
    right: 0;
    top: 79vh;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.hero-1{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
}

.hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color: #fe470af7;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation-2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero-3{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#df390fe1, #ca4b14ff);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: animation1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}    

@keyframes animation-2{
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,20%);
    }
}    


/* PAGE -2 */

/* video */
.video{
    position: relative;
    width: 100%;
    border: none;
    border-radius: 2.3em;
    margin-top: 3.8em;
    /* z-index: 99; */
}


/* PAGE-2 */

.page-2{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 8vw 0vw;
}

.cont-moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

.cont-moving-text::-webkit-scrollbar{
    display: none;
}

.cont-moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

.inner-cont-moving-text{
    white-space: nowrap;
    display: inline-block;
    animation-name: movingText;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.circle{
    height: 4.3em;
    width: 4.3em;
    border-radius: 50%;
    /* color: #FE320A; */
    background: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}


/* moving animation */

@keyframes movingText{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

/* page - 2 bottom */

.page-2-bottom{
    height: 80vh;
    width: 100%;
    /* background: #bf2424; */
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.page-2-bottom h1{
    font-family: minefont;
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

.page-2-bottom-part-2{
    width: 20%;
}

.page-2-bottom-part-2 img{
    width: 100%;
    border-radius: 1em;
}

.page-2-bottom-part-2 p{
    font-family: minefont;
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}


/* anime behind text heading */

.page-2 .anime-behind-text{
    height: 33vw;
    width: 33vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2b01 , #f06006f6);
    top: 55%;
    left: 25%;
    filter: blur(20px);
    animation-name: anime-behind-text-1;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


/* anime behind text keyframe */

@keyframes anime-behind-text-1{
    from{
        transform: translate(10% , -10%) skew(0);
    }
    to{
        transform: translate(-10% , 10%) skew(-12deg);
    }
}

/* page - 3 */

.page-3{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 4vw 0vw;
}

/* page - 3 heading div */

.featured-project{
    padding-bottom: 3vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    font-family: minefont;
    font-weight: 2s 00;
}

/* page - 3 heading dot */

.dot-featured-project{
    height: 0.5vw;
    width: 0.5vw;
    background: #FE320A;
    border-radius: 50%;
    margin-right: 0.6vw;
}

/* hover effect class */

.hover-effect{
    height: 6.8vw;
    width: 100%;
    /* background: orange; */
    border-bottom: 1px solid #00003c47;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
    font-family: minefont;
}

/* hover effect heading h2 */

.hover-effect h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

/* hover effect of hovering */

.hover-effect .overlay{
    width: 100%;
    height: 100%;
    background: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

/* hover */

.hover-effect:hover .overlay{
    top: 0;
}


/* fixed image */

#fixed-image{
    height: 30vw;
    width: 25vw;
    position: fixed;
    /* background: #000; */
    left: 50%;
    top: 22%;
    border-radius: 0.6em;
    z-index: 99;
    display: none;
    background-size: cover;
    background-position: center;
}

.button-project{
    padding : 4vw 3vw 6vw 3vw;
}

.button-project button{
    padding: 1em 2em;
    border: 1px solid rgb(65, 50, 50);
    border-radius: 1.5em;
    font-size: 1em;
    font-weight: bold;
}
